@import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/mixins";
@import "/node_modules/bootstrap/scss/utilities";

@import "/node_modules/bootstrap/scss/root";
@import "/node_modules/bootstrap/scss/reboot";
@import "/node_modules/bootstrap/scss/type";
@import "/node_modules/bootstrap/scss/images";
@import "/node_modules/bootstrap/scss/containers";
@import "/node_modules/bootstrap/scss/grid";
@import "/node_modules/bootstrap/scss/tables";
@import "/node_modules/bootstrap/scss/forms";
@import "/node_modules/bootstrap/scss/buttons";
@import "/node_modules/bootstrap/scss/transitions";
@import "/node_modules/bootstrap/scss/dropdown";
@import "/node_modules/bootstrap/scss/button-group";
@import "/node_modules/bootstrap/scss/nav";
@import "/node_modules/bootstrap/scss/navbar";
@import "/node_modules/bootstrap/scss/card";
@import "/node_modules/bootstrap/scss/accordion";
@import "/node_modules/bootstrap/scss/breadcrumb";
@import "/node_modules/bootstrap/scss/pagination";
@import "/node_modules/bootstrap/scss/badge";
@import "/node_modules/bootstrap/scss/alert";
@import "/node_modules/bootstrap/scss/progress";
@import "/node_modules/bootstrap/scss/list-group";
@import "/node_modules/bootstrap/scss/close";
@import "/node_modules/bootstrap/scss/toasts";
@import "/node_modules/bootstrap/scss/modal";
@import "/node_modules/bootstrap/scss/tooltip";
@import "/node_modules/bootstrap/scss/popover";
@import "/node_modules/bootstrap/scss/carousel";
@import "/node_modules/bootstrap/scss/spinners";
@import "/node_modules/bootstrap/scss/offcanvas";
@import "/node_modules/bootstrap/scss/placeholders";

@import "/node_modules/bootstrap/scss/helpers";
@import "/node_modules/bootstrap/scss/utilities/api";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap");

.Header {
  padding-top: 10px;
  padding-bottom: 10px;
  li {
    padding-left: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    #link {
      color: #12a88c;
    }
  }
  .Login {
    border: 1px solid #002c4b;
    color: #002c4b;
    border-radius: 31px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 20px;
  }
  .Login:hover {
    background-color: #002c4b;
    color: white;
  }
  .Contact_Us {
    background-color: #002c4b;
    color: white;
    border-radius: 31px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
  }
  .Contact_Us:hover {
    background-color: white;
    border: 1px solid#002C4B;
    color: #002c4b;
  }
}
.Heading_Welcome {
  h2 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    font-family: "Noto Sans HK", sans-serif;
    font-weight: 300;
  }
}
.Form {
  .form-control {
    background: #f9f9f9;
    border: 1px solid #ced4da;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 13px;
  }
  label {
    margin-bottom: 10px;
  }
}
.Next_Button {
  background-color: #002c4b;
  color: white;
  margin-top: 40px;
  border-radius: 5px;
  border: 0px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
}
.Images_footer img {
  float: right;
  height: 30%;
  width: 40%;
  margin-top: -48px;
}
.First_Selection {
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  color: #000000;
}
.row {
  .card1 {
    border: 1px solid rgba(18, 168, 140, 0.89);
    border-radius: 6px;
    margin-top: 10px;
    .card-body {
      background: rgba(242, 242, 242, 0.54);
      border-radius: 6px;
      padding: 0px !important;
      padding-top: 5px !important;
      padding-bottom: 5px !important;
      padding-left: 15px !important;
      padding-right: 10px !important;
    }
    .form-check-label {
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #000000;
    }
  }
  .card {
    border: 0px;
    border-radius: 6px;
    background-color: rgba(242, 242, 242, 0.54);
    margin-top: 10px;
    .card-body {
      background: rgba(242, 242, 242, 0.54);
      border-radius: 6px;
      padding: 0px !important;
      padding-top: 5px !important;
      padding-bottom: 5px !important;
      padding-left: 15px !important;
      padding-right: 10px !important;
    }
    .form-check-label {
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #000000;
    }
  }
}
.active {
  border: 1px solid#12A88C;
}
.checkbox-custom {
  label {
    width: 100%;
    position: relative;
  }

  .checkbox {
    float: right;
    display: none;
  }
  .checkbox:checked ~ .checkmark {
    background-color: #12a88c;
    height: 21px;
    border-radius: 12px;
    text-align: center;
    width: 21px;
  }
  .checkbox:checked ~ .checkmark:after {
    display: block;
  }
  .checkmark {
    position: absolute;
    right: 0;
    height: 20px;
    width: 20px;
    border-radius: 13px;
    background-color: #eee;
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 9px;
      top: 5px;
      border-radius: 4px;
      text-align: center;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.radio-custom {
  label {
    width: 100%;
    position: relative;
  }

  .radio {
    float: right;
    display: none;
  }
  .radio:checked ~ .checkmark {
    background-color: #12a88c;
    height: 20px;
    border-radius: 12px;
    text-align: center;
    width: 20px;
  }
  .radio:checked ~ .checkmark:after {
    display: block;
  }
  .checkmark {
    position: absolute;
    right: 0;
    height: 20px;
    width: 20px;
    border-radius: 13px;
    background-color: #eee;
    &:after {
      content: "";
      position: absolute;
      display: none;
      left:5px;
      top: 5px;
      border-radius:12px;
      text-align: center;
      width: 5px;
      height:5px;
      border: solid white;
      border-width:6px 4px 4px 6px;
      -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      transform: rotate(15deg);
    }
  }
}

@media only screen and (max-width: 900px) {
  .Images_footer img {
    margin-top: 0px;
    width: 80%;
    height: 50%;
  }
}
